*{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor_principal{
    background-image: url("../img/fondo.jpg");
    background-size: cover;
    background-position: center; 
    width: 100vw;
    height: 100vh;
    background-color: rgba(248, 248, 248, 0.753);
}

label{
    font-weight: bold;
    width: 120px;
    padding-top: 5px;
    padding-bottom: 5px; 
    align-items: start;
}

input{
    padding-inline: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}