/* .container_movie{
    background-color: aqua;
} */

.container_main{
    background: rgb(51, 50, 50);
}

.name_movie{
    font-weight: 600;
    /* margin-bottom: 0px; */
}

.duration_movie{
    /* margin-top: 0px; */
    color: rgb(99, 98, 98);
    font-weight: bold;
}

.category_movie{
    background-color: rgba(19, 18, 18, 0.89);
    width: 50%;
    position: absolute;
    top: 73%;
    left: 103px;
    border-radius: 1px;
}